
maaslin_mv_filt50_nohiv/heatmap.pdf
maaslin_mv_filt50_nohiv/age.pdf
maaslin_mv_filt50_nohiv/all_results.tsv
maaslin_mv_filt50_nohiv/figures/age_1.png
maaslin_mv_filt50_nohiv/figures/age_2.png
maaslin_mv_filt50_nohiv/figures/age_3.png
maaslin_mv_filt50_nohiv/figures/age_4.png
maaslin_mv_filt50_nohiv/figures/heatmap.png
maaslin_mv_filt50_nohiv/figures/season_1.png
maaslin_mv_filt50_nohiv/figures/season_10.png
maaslin_mv_filt50_nohiv/figures/season_2.png
maaslin_mv_filt50_nohiv/figures/season_3.png
maaslin_mv_filt50_nohiv/figures/season_4.png
maaslin_mv_filt50_nohiv/figures/season_6.png
maaslin_mv_filt50_nohiv/figures/season_5.png
maaslin_mv_filt50_nohiv/figures/season_7.png
maaslin_mv_filt50_nohiv/figures/season_8.png
maaslin_mv_filt50_nohiv/figures/season_9.png
maaslin_mv_filt50_nohiv/fitted.rds
maaslin_mv_filt50_nohiv/maaslin2.log
maaslin_mv_filt50_nohiv/residuals.rds
maaslin_mv_filt50_nohiv/season.pdf
maaslin_mv_filt50_nohiv/significant_results.tsv
